.white-solid-blue-btn {
    font-size: 20px;
    color: white;
    background-color: $solid_blue;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $solid_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: $solid_blue;
        background-color: white;
    }
    &:focus {
        color: white;
    }
    @include breakpoint($sm-down) {
        display: block;
        max-width: 330px;
        margin: 0 auto;
        text-align: center;
    }
    &.disabled {
        display: inline-block;
        background-color: #9f9f9f;
        border: 2px solid #9f9f9f;
        i {
            margin-right: 10px;
        }
        &:hover {
            color: white;
            background-color: #9f9f9f;
        }
    }
}

.solid-blue-white-btn {
    font-size: 20px;
    color: $solid_blue;
    background-color: white;
    padding: 10px 20px;
    font-family: 'Calibri-Bold';
    border: 2px solid $solid_blue;
    display: inline-block;
    @include rounded(4px);
    @include simple_transition(.3s);
    &:hover {
        color: white;
        background-color: $solid_blue;
    }
    &:focus {
        color: $solid_blue;
    }
    &.blue-border {
        border: 2px solid $solid_blue;
    }
}

.color-white {
    color: white;
}

.color-black {
    color: black;
}

.color-dark-blue {
    color: $dark_blue;
}

.color-beige {
    color: $beige;
}

.main-color {
    color: $main_color;
}

.color-white-bg {
    background-color: white;
}

.color-black-bg {
    background-color: black;
}

.color-dark-blue-bg {
    background-color: $dark_blue;
}

.color-beige-bg {
    background-color: $beige;
}