body.home {
    @include breakpoint($xs)    {
        .modal-backdrop.in {
            background-color: white;
            opacity: 1;
        }
    }
}

.top-homepage-slider-section {
    position: relative;
    .slider {
        img {
            width: 100%;
        }
    }
    .ids-square {
        z-index: 50;
        position: absolute;
        top: 100%;
        left: 10%;
        width: 150px;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);
        @include breakpoint($sm-down) {
            display: none;
        }
    }
    .timer {
        z-index: 50;
        position: absolute;
        top: 100%;
        right: 0;
        width: 450px;
        background-color: white;
        -webkit-transform: translateY(-70%);
        -ms-transform: translateY(-70%);
        transform: translateY(-70%);
        padding: 30px 50px 40px;
        @include rounded(4px 0 0 4px);
        @include box-shadow(0 5px 18px 0 rgba(0, 0, 0, 0.5));
        @include breakpoint($md-only) {
            padding: 30px 20px 40px;
            width: 400px;
        }
        @include breakpoint($sm-down) {
            position: static;
            -webkit-transform: none;
            -ms-transform: none;
            transform: none;
            width: 100%;
            margin-top: 20px;
            @include rounded(4px);
        }
        @include breakpoint($xs) {
            padding: 30px 10px 40px;
        }
    }
    .clock {
        margin: 0;
        ul li a div div.inn {
            font-size: 40px;
            @include breakpoint($xs) {
                font-size: 35px;
            }
        }
        ul {
            width: 35px;
            height: 50px;
            li {
                line-height: 50px;
            }
            &.flip {
                float: none;
                display: inline-block;
            }
            .inn {
                background-color: $solid_blue;
                color: white;
            }
            @include breakpoint($xs) {
                margin: 3px;
                width: 30px;
            }
        }
        .flip-clock-divider {
            float: none;
            height: 60px;
            width: 10px;
            .flip-clock-dot {
                width: 5px;
                height: 5px;
                left: 2.5px;
                &.top {
                    top: 20px;
                }
                &.bottom {
                    bottom: 20px;
                }
            }
            .flip-clock-label {
                font-size: 13px;
                text-transform: uppercase;
                bottom: -15px;
                top: auto;
            }
            &.hours {
                .flip-clock-label {
                    right: -70px;
                }
            }
            &.minutes {
                .flip-clock-label {
                    right: -75px;
                }
            }
        }
    }
}

.achievements-section {
    figure {
        img {
            max-width: 80px;
        }
        figcaption {
            span {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

.highlights-section {
    .single-highlight {
        padding-left: 20px;
        padding-right: 20px;
        > a {
            display: block;
            figure {
                width: 50%;
            }
            .content {
                width: 50%;
                time {
                    display: block;
                    color: $light_gray;
                    text-transform: uppercase;
                    font-size: 14px;
                    padding-bottom: 15px;
                }
            }
            @include breakpoint($xs) {
                figure {
                    width: 100%;
                }
                .content {
                    width: 100%;
                    padding-top: 15px;
                }
            }
        }
    }
}

.gallery-section {
    .single-photo {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.ids-speakers-corner-section {
    iframe {
        width: 100%;
        border: 0;
        height: 500px;
        @include breakpoint($xs) {
            height: 350px;
        }
    }
}

.team-members-section {
    .single-team-member {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        figure {
            overflow: hidden;
            @include rounded(50%);
            img {
                max-width: 230px;
            }
        }
        .name {
            font-size: 20px;
            font-family: 'Lato-Bold';
            padding-top: 15px;
        }
        .position {
            font-size: 18px;
        }
        @include breakpoint($lgl) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.what-is-dcn-section {
    video {
        width: 100%;
    }
}

.testimonials-slider-section {
    .slick-arrow.slick-disabled {
        display: none;
    }
    .single-testimonial {
        padding: 0 15px;
        height: auto;
        .img-title-job {
            min-height: 70px;
            figure {
                border: 2px solid #000;
                width: 50px;
                height: 50px;
                overflow: hidden;
                position: relative;
                @include rounded(50%);
                img {
                    @include vertical-horizontal-align(absolute);
                }
            }
            .title-job {
                width: calc(100% - 50px);
                padding-left: 10px;
                .title {
                    font-size: 18px;
                    font-family: 'Calibri-Bold';
                    text-decoration: underline;
                }
                .job {
                    color: #777777;
                    font-size: 14px;
                    font-family: "Calibri-Regular";
                }
            }
        }
        .description {
            padding-top: 5px;
            font-size: 16px;
            font-family: "Calibri-Regular";
            color: #3e3e3e;
        }
    }
}

.statistics-section {
    figure {
        figcaption {
            span {
                display: block;
                padding-top: 5px;
                padding-bottom: 5px;
            }
        }
    }
}

/*.applications-section {
    background-image: url('//dentacoin.com/assets/images/dentacoin-ecosystem-background.jpg');
    background-position: center bottom 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    >.container {
        max-width: 1300px;
    }
    .list {
        button {
            margin-bottom: 25px;
            &:focus {
                outline: 5px auto white;
                outline-offset: -2px;
            }
            figure {
                text-align: center;
                cursor: pointer;
                figcaption {
                    color: white;
                    font-size: 18px;
                    padding-top: 15px;
                    @include breakpoint($xs) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}*/

.applications-section {
    @include box-shadow(0 2px 6px 0 rgba(0, 0, 0, 0.4));
    >.row {
        display: flex;
        position: relative;
    }
    .apps-list {
        background-image: url('//dentacoin.com/assets/images/dentacoin-ecosystem-background.jpg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding-top: 50px;
        padding-bottom: 50px;
        .rotated-text {
            color: white;
            font-family: 'Calibri-Bold';
            font-size: 35px;
        }
        .list {
            width: 100%;
            max-width: 1300px;
            @include vertical-horizontal-align(absolute);
            button {
                margin-bottom: 15px;
                &:focus {
                    outline: 0 !important;
                }
                figure {
                    text-align: center;
                    cursor: pointer;
                    &:focus {
                        outline: 0 !important;
                    }
                    img {
                        max-width: 75%;
                        margin: 0 auto;
                        @include rounded(20px);
                        @include box-shadow(0 0 8px 0px rgba(0, 0, 0, 0.4));
                        @include simple_transition(.3s);
                    }
                    figcaption {
                        color: white;
                        font-size: 18px;
                        padding-top: 10px;
                    }
                }
                &.show-shadow {
                    figure {
                        img {
                            @include box-shadow(-6px 8px 8px 0px rgba(0, 0, 0, 0.5));
                        }
                    }
                }
                &:hover {
                    figure {
                        img {
                            @include box-shadow(-6px 8px 8px 0px rgba(0, 0, 0, 0.5));
                        }
                    }
                }
            }
            @include breakpoint($sm-down) {
                position: static;
                @include clear_transform();
            }
        }
        @include breakpoint($lg-up) {
            .list {
                width: 100%;
                max-width: 1300px;
            }
        }
    }
    .info-section {
        padding-top: 100px;
        padding-bottom: 100px;
        position: static;
        .show-login-signin {
            font-size: 16px;
            padding: 6px 15px;
            position: absolute;
            top: 20px;
            right: 30px;
            @include breakpoint($lg-up) {
                top: 30px;
            }
            @include breakpoint($md-down) {
                top: 15px;
            }
            @include breakpoint($sm-down) {
                display: none;
            }
        }
        .close-application {
            display: none;
            font-size: 40px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 20px;
            line-height: 40px;
            @include breakpoint($sm-down) {
                display: block;
            }
        }
        .content {
            padding: 0 30px;
            .logo {
                width: 100%;
                max-width: 80px;
                margin: 0 auto;
            }
            .title {
                font-size: 28px;
                font-family: 'Calibri-Bold';
                padding-top: 10px;
                padding-bottom: 10px;
                text-align: center;
            }
            .description {
                line-height: 20px;
                font-size: 16px;
                max-width: 500px;
                margin: 0 auto;
                text-align: center;
                video {
                    width: 100%;
                }
                p {
                    padding-bottom: 5px;
                    a {
                        margin-top: 10px;
                        display: inline-block;
                    }
                }
            }
            .extra-html {
                max-width: 500px;
                margin: 0 auto;
                .extra-title {
                    font-family: 'Calibri-Bold';
                    font-size: 18px;
                    padding-bottom: 5px;
                    padding-top: 10px;
                }
                .slider-with-tool-data {
                    .slick-prev {
                        width: 20px;
                        height: 20px;
                        left: -10px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url(/assets/images/right-arrow.svg);
                        background-size: auto 100%;
                        z-index: 3;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: block;
                        font-size: 0;
                        border: 0;
                        cursor: pointer;
                        @include box-shadow(none);
                        &.slick-disabled {
                            display: none !important;
                        }
                    }
                    .slick-next {
                        width: 20px;
                        height: 20px;
                        right: -10px;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        background: url(/assets/images/left-arrow.svg);
                        background-size: auto 100%;
                        z-index: 3;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: block;
                        font-size: 0;
                        border: 0;
                        cursor: pointer;
                        @include box-shadow(none);
                        &.slick-disabled {
                            display: none !important;
                        }
                    }
                    .slick-track {
                        display: flex;
                        a {
                            display: block;
                            color: $main_color;
                            .single-slide {
                                padding-left: 10px;
                                padding-right: 10px;
                                height: auto;
                                align-items: center;
                                figure {
                                    width: 100px;
                                }
                                .content {
                                    padding-left: 10px;
                                    width: calc(100% - 100px);
                                    .slide-title {
                                        font-size: 16px;
                                    }
                                    time {
                                        font-size: 13px;
                                        color: #999999;
                                    }
                                }
                            }
                        }
                    }
                    @include breakpoint($sm-down)   {
                        margin-bottom: -10px;
                        .slick-track {
                            a {
                                .single-slide {
                                    .content {
                                        .title {
                                            font-size: 14px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            @include breakpoint($lg-up) {
                .title {
                    padding-bottom: 15px;
                }
                .description {
                    video {
                        margin-bottom: 10px;
                    }
                }
                .description, .extra-html {
                    max-width: 650px;
                }
            }
            @include breakpoint($sm-down) {
                padding-left: 0;
                padding-right: 0;
            }
        }
        .gif {
            img {
                @include box-shadow(0 2px 6px 0 rgba(0,0,0,.2));
            }
            @include breakpoint($xs) {
                display: none;
            }
        }
        .video {
            video {
                width: 100%;
            }
            @include breakpoint($xs) {
                display: none;
            }
        }
        @include breakpoint($sm-down) {
            display: none;
        }
    }
}

.get-the-latest-event-updates-section {
    #mc_embed_signup_scroll {
        max-width: 300px;
        margin: 0 auto;
        font-size: 0;
        input[type='email'] {
            width: calc(100% - 100px);
            display: inline-block;
            vertical-align: middle;
            height: 40px;
            font-size: 18px;
            border: 1px solid #aaaaaa;
            padding: 0 5px;
            @include rounded(4px 0 0 4px);
        }
        .btn-container {
            width: 100px;
            display: inline-block;
            vertical-align: middle;
            input[type='submit'] {
                height: 40px;
                font-size: 18px;
                background-color: #aaaaaa;
                display: block;
                width: 100%;
                border: 0;
                color: black;
                @include rounded(0 4px 4px 0);
            }
        }
    }
    .checkbox-row {
        padding-top: 10px;
        text-align: left;
        max-width: 300px;
        margin: 0 auto;
        input[type='checkbox'] {
            vertical-align: middle;
            margin: 0;
        }
        label {
            font-size: 16px;
            margin: 0;
            vertical-align: middle;
            padding-left: 10px;
            a {
                text-decoration: underline;
            }
        }
    }
    /*.form {
        input[type="text"], input[type="email"], select {
            font-size: 18px;
            padding: 0 6px;
            border: 1px solid #cccccc;
            width: calc(100% - 10px);
            margin-left: 5px;
            margin-right: 5px;
            height: 40px;
            max-width: none;
            @include rounded(4px);
        }
        .title {
            width: 30%;
        }
        .name {
            width: 70%;
        }
        label {
            margin-left: 5px;
            margin-right: 5px;
            font-weight: normal;
            padding-bottom: 5px;
        }
        .privacy-policy-row {
            padding-left: 5px;
            padding-right: 5px;
            input {
                width: 20px;
                display: inline-block;
                vertical-align: top;
            }
            label {
                width: calc(100% - 20px);
                padding-left: 5px;
                display: inline-block;
                vertical-align: top;
                margin: 0;
            }
            a {
                text-decoration: underline;
            }
        }
        .email-octopus-success-message {
            color: green;
        }
        .email-octopus-form-row-subscribe {
            text-align: center;
        }
    }
    .white-solid-blue-btn {
        max-width: 330px;
        text-align: center;
    }*/
}