.intro-section {
    .intro-image {
        position: relative;
        background-image: url(/assets/uploads/ids-hero-image.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        .centered {
            width: 70%;
            margin: 0 auto;
        }
        @include breakpoint($sm-down) {
            background-image: url(/assets/uploads/ids-hero-image-mobile.png);
            .centered {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.address-section {
    width: 80%;
    padding-left: 15%;
    transform: translateY(-50%);
    position: relative;
    @include box-shadow(0 5px 18px 0 rgba(0, 0, 0, 0.5));
    @include rounded(0 4px 4px 0);
    figure {
        right: 30px;
        @include vertical-align(absolute);
    }
    @include breakpoint($sm-down) {
        width: 100%;
        transform: none;
        padding-left: 15px;
        @include rounded(0);
        figure {
            right: 15px;
        }
        .address {
            width: calc(100% - 140px);
        }
    }
}

.look-into-future-section {
    video {
        width: 100%;
    }
}

.testimonials-slider-section {
    .single-testimonial {
        padding: 0 15px;
        height: auto;
        .img-title-job {
            min-height: 70px;
            figure {
                border: 2px solid #000;
                width: 50px;
                height: 50px;
                overflow: hidden;
                position: relative;
                @include rounded(50%);
                img {
                    @include vertical-horizontal-align(absolute);
                }
            }
            .title-job {
                width: calc(100% - 50px);
                padding-left: 10px;
                .title {
                    font-size: 18px;
                    font-family: 'Calibri-Bold';
                    text-decoration: underline;
                }
                .job {
                    color: #777777;
                    font-size: 14px;
                    font-family: "Calibri-Regular";
                }
            }
        }
        .description {
            padding-top: 5px;
            font-size: 16px;
            font-family: "Calibri-Regular";
            color: #3e3e3e;
        }
    }
}

.below-testimonials-section {
    figure {
        text-align: center;
    }
    .single {
        width: 20%;
        padding-left: 10px;
        padding-right: 10px;
        @include breakpoint($sm-down) {
            width: 100%;
            padding-bottom: 25px;
        }
    }
}

.how-to-find-us-section {
    .custom-container {
        .mobile-address {
            display: none;
        }
        .image {
            margin-left: 10%;
            width: 45%;
            background-image: url(/assets/uploads/map.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            @include simple_transition(.3s);
            img {
                visibility: hidden;
            }
            &:hover {
                background-image: url(/assets/uploads/map-hovered.png);
            }
        }
        .shadow-box {
            width: 45%;
            padding-left: 50px;
            @include rounded(4px 0 0 4px);
            @include box-shadow(0 5px 18px 0 rgba(0, 0, 0, 0.5));
        }
    }
    @include breakpoint($sm-down) {
        .custom-container {
            .mobile-address {
                display: block;
            }
            .image {
                margin-left: 15px;
                margin-right: 15px;
                margin-bottom: 15px;
                width: calc(100% - 30px);
                background-image: url(/assets/uploads/map-hovered-mobile.jpg);
                &:hover {
                    background-image: url(/assets/uploads/map-hovered-mobile.jpg);
                }
            }
            .shadow-box {
                text-align: center;
                width: 100%;
                padding-left: 0;
            }
        }
    }
}

.team-members-slider {
    .single-team-member {
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        figure {
            overflow: hidden;
            @include rounded(50%);
            img {
                max-width: 230px;
            }
        }
        .name {
            font-size: 20px;
            font-family: 'Lato-Bold';
            padding-top: 15px;
        }
        .position {
            font-size: 18px;
        }
        @include breakpoint($lgl) {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}

.get-the-latest-event-updates-section {
    .iframe-wrapper {
        overflow: auto;
    }
    .form {
        input[type="text"], input[type="email"], select {
            font-size: 18px;
            padding: 0 6px;
            border: 1px solid #cccccc;
            width: calc(100% - 10px);
            margin-left: 5px;
            margin-right: 5px;
            height: 40px;
            max-width: none;
            @include rounded(4px);
        }
        .title {
            width: 30%;
        }
        .name {
            width: 70%;
        }
        label {
            margin-left: 5px;
            margin-right: 5px;
            font-weight: normal;
            padding-bottom: 5px;
        }
        .privacy-policy-row {
            padding-left: 5px;
            padding-right: 5px;
            input {
                width: 20px;
                display: inline-block;
                vertical-align: top;
            }
            label {
                width: calc(100% - 20px);
                padding-left: 5px;
                display: inline-block;
                vertical-align: top;
                margin: 0;
            }
            a {
                text-decoration: underline;
            }
        }
        .email-octopus-success-message {
            color: green;
        }
        .email-octopus-form-row-subscribe {
            text-align: center;
        }
    }
    .white-solid-blue-btn {
        max-width: 330px;
        text-align: center;
    }
    @include breakpoint($xs) {
        iframe {
            width: 100%;
            margin-bottom: 20px;
            height: 550px;
        }
    }
}

.ids-speakers-corner-section {
    .custom-container {
        figure {
            width: 60%;
            overflow: hidden;
            @include rounded(0 4px 4px 0);
        }
        .content {
            padding-left: 30px;
            width: 40%;
        }
        @include breakpoint($xs) {
            figure {
                width: 100%;
                @include rounded(0);
            }
            .content {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

.schedule-a-meeting-section {
    .days {
        .single {
            width: 25%;
            background-color: #d9d9d6;
            color: #707372;
            padding: 20px 10px 30px;
            .month {
                text-transform: uppercase;
                font-size: 20px;
            }
            .day {
                font-size: 80px;
                line-height: 80px;
            }
            &.active {
                background-color: $solid_blue;
                color: white;
                position: relative;
                .triangle-active {
                    width: 0;
                    height: 0;
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                    border-bottom: 15px solid white;
                    bottom: 0;
                    @include horizontal-align(absolute);
                }
            }
            @include breakpoint($xs) {
                .month {
                    font-size: 17px;
                }
                .day {
                    font-size: 40px;
                    line-height: 35px;
                }
            }
        }
    }
    .form {
        .hours {
            .solid-blue-white-btn {
                display: block;
                border-width: 1px;
                &:hover {
                    border-width: 1px;
                }
                &.active {
                    color: white;
                    background-color: $solid_blue !important;
                    border: 1px solid $solid_blue !important;
                    &:hover {
                        color: white !important;
                        background-color: $solid_blue !important;
                        border: 1px solid $solid_blue !important;
                    }
                    &:focus {
                        color: white;
                    }
                }
                &.disabled {
                    color: $solid_gray;
                    background-color: $input_background_gray;
                    border: 1px solid $input_border_gray;
                    opacity: 0.8;
                    &:hover {
                        color: $solid_gray;
                        background-color: $input_background_gray;
                        border: 1px solid $input_border_gray;
                    }
                }
            }
        }
        .form-row {
            @for $i from 0 through 10 * 2 {
                .form-cell-#{$i * 5} {
                    width: 0% + $i * 5!important;
                }
            }
            .cell {
                padding-left: 10px;
                padding-right: 10px;
                padding-bottom: 20px;
                label {
                    display: block;
                    font-size: 14px;
                    font-family: 'Lato-Light';
                }
                textarea, input, select {
                    font-size: 14px;
                    display: block;
                    width: 100%;
                    padding: 6px;
                    background-color: $input_background_gray;
                    border: 1px solid $input_border_gray;
                    @include rounded(4px);
                }
                @include breakpoint($xs) {
                    padding-left: 3px;
                    padding-right: 3px;
                }
                &.captcha-parent {
                    .width-50 {
                        width: 50%;
                        .captcha-container {
                            text-align: center;
                        }
                        @include breakpoint($xs)    {
                            width: 100%;
                            .captcha-container {
                                padding-top: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.dentacoin-products-section {
    figure {
        position: relative;
        .hidden-image {
            width: 0;
            height: 0;
            @include vertical-horizontal-align(absolute);
            @include simple_transition(.3s);
        }
        &:hover {
            .hidden-image {
                width: 100%;
                height: 100%;
            }
        }
    }
}